

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@500;700;800;900&display=swap');

*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend ),
*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend )::before,
*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend )::after {  
   margin:0; padding:0; box-sizing:border-box;
}

:root {
   --dark0: #16181c;   --dark1: #1b1d22;
   --dark2: #212329;   --dark3: #505257;
   
   --light0: #ffffff;  --light1: #f5f5f5;
   --azul0: #19497b;   --azul1: #8cb2e6;
   --azul2: #b5dfef;   --azul3: #deeff7;
   --pink: #905;   --amber: #ffab00;   --red: #ce3635;

   --azul: #27f;   --green: #006400;   --blue: #149cbe;
   --texto: #333;
   
   --green-dark: #8b6d19;  --green-light: #a17d1a; --green-bg: #fbf6e9;
   --purple-dark: #603479;   --purple-light: #965bb9;  --purple-bg: #f4edf7;
   --red-dark: #902726;    --red-light: #b83232;   --red-bg: #fceeee;
   --blue-dark: #1c5b6e;   --blue-light: #267d97;  --blue-bg: #ebf6fb;
   
   --appbar-height: 81px;
   --appbar-filter-shadow: drop-shadow( #0009 0 0 5px );
   --sidebar-width: 68px;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track {
   background: var( --blue-bg );
   border-radius: 5px;
}
::-webkit-scrollbar-thumb {
   background: var( --blue-dark );
   border-radius: 5px;
}

[link] { cursor: pointer; }
[link]:hover { color: #27f; transition: .3s ease-in-out; }

body {
   width: 100%;
   min-height: 100vh;
   background: #fff;
   color: var( --texto );
   
   font-family: 'Montserrat', sans-serif;
   font-family: 'Poppins', sans-serif;

   font-size: 2.5vw;
}

appbar {
   display: grid;
   grid-template-columns: .35fr .65fr;
   width: 100%;
   /*height: 36.3vw;*/
   aspect-ratio: 3.8/1;
   padding: 1vw;
   /* position: sticky; */
   inset: 0;
   z-index: 9;
   background: var( --azul0 );
   color: #f5f5f5;
   filter: var( --appbar-filter-shadow );
}
appbar logo {
   width: 100%;
   aspect-ratio: 1/1;
}
appbar logo img {
   width: 100%;
   aspect-ratio: 1/1;
   border-radius: 50vw;
   border: #27f solid 2px;
}
appbar-text {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
appbar-text > * {
   margin-top: 0;
   margin-bottom: 0;
}
appbar-text h1 { 
}

form {
   max-width: 100%;
   margin: 2vw auto;
}

form header {
   background: var( --azul1 );
   display: grid;
   grid-template-columns: repeat( 3, .3fr );
   justify-content: center;
}
form header label {
   display: grid;
   grid-template-columns: .6fr .4fr;
   place-items: center;
   color: var( --azul0 );
}
label h3 {
   width: 100%;
   margin: 0;
} 
label input {
   width: 100%;
   background: transparent;
   border: transparent;
   outline: transparent;
}
input { font-size: 3vw; }
input#total-value { 
   font-size: 3.5vw; 
   font-weight: bold;
}
select, option {
   font-size: 3vw !important;
}

cliente {
   display: block;
   background: var( --azul3 );
   margin: 2vw auto;
   color: #212329;
}
   
cliente header {
   display: grid;
   grid-template-columns: 1fr;
   background: var( --azul0 );
   color: #fff;
}
cliente header h2 {
   width: 100%;
   margin: 0 auto;
   text-align: center;
}
cliente main {
   display: grid;
   grid-template-columns: 1fr;
   padding: 0;
}
item[type="nome"] {
   grid-template-columns: 1fr;
}
cliente main item {
   display: grid;
   grid-template-columns: 1fr;
}
cliente main item {
   grid-template-columns: auto 1fr;
}
item label {
   display: grid;
   place-items: center;
   background: var( --azul2 );
   grid-template-columns: .2fr .8fr;
}
item label h3 {
   margin: 0;
   padding: 0 0 0 2vw;
}
item label input {
   background: var( --azul3 );
   padding: 1vw;
}

item[ type="tel-email" ] {
   grid-template-columns: .5fr .5fr;
}
item[ type="tel-email" ] label {
   grid-template-columns: .5fr .5fr;
}
item[ type="tel-email" ] :nth-child(1) {
   grid-template-columns: .4fr .6fr;
}
item[ type="tel-email" ] :nth-child(2) {
   grid-template-columns: auto 1fr;
}

item[ type="cpf-rg" ] {
   grid-template-columns: .5fr .5fr;
}
item[ type="cpf-rg" ] :nth-child(1) {
   grid-template-columns: .4fr .6fr;
}
item[ type="cpf-rg" ] :nth-child(2) {
   grid-template-columns: auto 1fr;
}

item[ type="b-c" ] {
   grid-template-columns: .5fr .5fr;
}
item[ type="b-c" ] label {
   grid-template-columns: .41fr .59fr;
   grid-template-columns: .41fr .9fr;
   grid-template-columns: .41fr 1fr;
   grid-template-columns: auto 1fr;
}

item[ type="estate-cep" ] {
   grid-template-columns: .5fr .5fr;
}
item[ type="estate-cep" ] label { 
   grid-template-columns: auto 1fr;
}
select#estado {
   width: 100%;
   height: 100%;
   font-size: 2vw;
   background: var(--azul3 );
}

item[ type="endereco" ] {
   grid-template-columns: .8fr .2fr;
}
item[ type="endereco" ] label {
   grid-template-columns: .25fr .75fr;
}
item[ type="endereco" ] :nth-child(2) {
   grid-template-columns: auto 1fr;
}
select#select-cpf-cnpj {
   padding: 0;
   background: transparent;
   border: transparent solid 0;
   outline: transparent;
}
select#select-cpf-cnpj option, select#select-cpf-cnpj option h3 {
   padding: 0; margin: 0;
}


orcamento {
   display: block;
   margin: 2vw auto;
   color: #000;
}
orcamento main {
   background: var( --azul3 );
}

orcamento header {
   display: grid;
   grid-template-columns: 1fr;
   background: var( --azul0 );
   color: #fff;
}
orcamento header h2 {
   width: 100%;
   margin: 0 auto;
   text-align: center;
}

orcamento main item {
   display: grid;
   grid-template-columns: .1fr .7fr .2fr;
}
orcamento main item:nth-child( even ) {
   background: var( --azul2 ) !important;
}
item[type="header"] {
   place-items: center;
   background: var( --azul1 );
}
item[type="header"] h3 {
   width: 100%;
   text-align: center;
   font-weight: 800;
   margin: 0;
}
orcamento main item {
   height: 4.5vw;
}
orcamento main item > * {
   width: 100%;
   background: transparent;
   border: transparent solid 0;
   text-align: center;
}
orcamento main item :nth-child( 1 ) {
   border-right: #fff5 .5vw dotted;
}

orcamento main item :nth-last-child( 1 ) {
   border-left: #fff5 .5vw dotted;
}

orcamento footer {
   display: grid;
   grid-template-columns: .5fr .5fr;
   height: fit-content;
   margin: 2vw 0 0 0;
}
orcamento footer item {
   width: 100%;
   height: fit-content;
}
orcamento footer item label {
   grid-template-columns: auto 1fr;
   display: grid;
   padding: 0;
}
orcamento footer :nth-last-child( 1 ) label {
   background: var( --azul0 );
   color: #fff;
}
orcamento footer :nth-last-child( 1 ) label input {
   background: var( --azul1 );
   color: #000;
   width: 100%;
}
orcamento footer item label h4 {
   display: grid;
   place-items: center;
   margin: 0;
   padding: 0 2vw;
}
orcamento footer item label h3 {
   padding: 0 0 0 2vw;
}
orcamento footer item :nth-last-child( 0 ) {
   background: yellow ;
}


obs {
   display: block;
   background: #fff;
   margin: 2vw auto;
   page-break-after: auto;
   page-break-inside: avoid;
}

obs header {
   display: grid;
   grid-template-columns: 1fr;
   background: #fff;
}
obs header h2 {
   width: 100%;
   margin: 0 auto;
   text-align: center;
   color: var( --azul0 );
}

textarea {
   width: 100%;
   min-height: 15vw;
   text-align: center;
   padding: 2vw;
   background: var( --azul3 );
}
ts { display: block; background: orange; width: 100%; min-height: 50px; border: purple solid; }