

@font-face {
   font-family: Comtec;
   src: url( ./Comtech-ZV0Ol.ttf );
}

@font-face {
   font-family: holic;
   src: url( ./ElectroHolic-z8z8G.ttf );
}

@font-face {
   font-family: thunder;
   src: url( ./Godofthunder-0WO1P.ttf );
}