

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cinzel+Decorative:wght@400;700;900&family=Open+Sans:wght@500;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend ),
*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend )::before,
*:not( h1,h2,h3,h4,h5,h6,p,menu,ul,ol,li,hr,pre,dd,blockquote,fieldset,legend )::after {
   margin: 0; padding: 0; box-sizing: border-box;
}

:root {
   --dark0: #16181c;   --dark1: #1b1d22;
   --dark2: #212329;   --dark3: #505257;

   --light0: #ffffff;  --light1: #f5f5f5;

   --pink: #905;   --amber: #ffab00;   --red: #ce3635;
   --azul: #27f;   --green: #006400;   --blue: #149cbe;
   --texto: #e9e6e3;

   --green-dark: #8b6d19;  --green-light: #a17d1a;    --green-bg: #fbf6e9;
   --purple-dark: #603479; --purple-light: #965bb9;   --purple-bg: #f4edf7;
   --red-dark: #902726;    --red-light: #b83232;      --red-bg: #fceeee;
   --blue-dark: #1c5b6e;   --blue-light: #267d97;     --blue-bg: #ebf6fb;

   --appbar-height: 81px;
   --appbar-filter-shadow: drop-shadow( #0009 0 0 5px );
   --sidebar-width: 68px;
}

navlink { cursor: pointer; }
navlink:hover { color: #27f; transition: .3s ease-in-out; }

::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background: var( --pink );
   border-radius: 5px;
}
::-webkit-scrollbar-thumb {
   background: var( --dark0 );
   border-radius: 5px;
}

html {
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   
   background-color: #1b1d22;
   background-image:   linear-gradient( 0deg, #00000000 24px, #212329 25px ),
   linear-gradient( 90deg, #00000000 24px, #212329 25px );
   background: #fff;
   background-size: 25px 25px;
   font: 1em sans-serif;
   color: #fc0fc0;
}
body {
   min-height: 100vh;
   font-family: 'Poppins';
   -webkit-font-smoothing: antialiased;
   background: #fff;
}



t1, t2, t3, t4, t5, t6, t7 {
   font-size: 3em;
   font-weight: bold;
   line-height: 1.2;
   word-wrap: break-word;
   color: #27f;
}
t { font-size: 1rem; }
t1 { font-size: 3rem; color: #e33; }
t2 { font-size: 2.5rem; color: #f29; }
t3 { font-size: 2.25rem; }
t4 { font-size: 1.8rem; }
t5 { font-size: 1.5rem; }
t6 { font-size: 1.25rem; }
t7 { font-size: 1.1rem; }
/* p { word-wrap: break-word; } */
li::marker {
   /* unicode-bidi: isolate;
   font-variant-numeric: tabular-nums;
   font-variant-numeric: slashed-zero;
   text-transform: none;
   text-indent: 0px !important;
   text-align: start !important;
   text-align-last: start !important; */
   font-size: larger;
   font-weight: bolder;
   color: #da0;
}
label {
}
label > input {
   border: transparent;
   outline: transparent;
   cursor: pointer;
}
label > input:focus-visible {
}
fieldset {
   border-radius: 2rem;
   margin: 1rem 0;
   padding: 1rem;
}
legend { font-weight: bolder; }
hr { width: 100%; }