

:root {
   --bg: #e5e5e5;
   --bg2: #f5f5f5;
   --ground: #fff;
   --card-lv1: #00559C;
   --card-lv2: #0075BD;
   --card-lv3: #009ee6;

   --appbar-shadow: #0005 0 0 10px;
   --appbar-logo-shadow: #ffab00 0 0 0 2px;
   --appbar-title: #fff;
   --appbar-title-divider: #daa520;
   --appbar-title-shadow: #0005 3px 0 3px;

   --text-color: #333;
   --a-hover: #747bff;
   --btn-bg: #27f;
   --btn-bg: var( --card-lv1 );
   --error: #f55;

   --form-bg: var( --bg2 );
   
   font: 1em "inter";
   font-weight: 400;
   color: var( --text-color );
}

html {
}

body {
   background: var(--bg);
}

appbar {
   background: var( --card-lv1 );
   box-shadow: var(--appbar-shadow);
   height: 72px;
}
appbar > content {
   flex-direction: row;
   align-items: center;
   height: 100%;
   padding: 0 16px;
}

appbar-menu-left,
appbar-menu-right {
   display: flex;
   height: clamp( 20px, 35%, 48px );
   aspect-ratio: 1;
}
content:has( > trigram ) {
   padding: 2px;
   width: 100%;
   height: 100%;
   aspect-ratio: 1;
}
trigram {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   aspect-ratio: 1;
   cursor: pointer;
}
trigram > bar {
   display: flex;
   width: 100%;
   aspect-ratio: 7 / 1;
   border-radius: 9px;
   background: #fff;
}

appbar-logo {
   display: flex;
   height: 72px;
   flex: 1;
   align-items: center;
   justify-content: center;
}

app-logo {
   display: flex;
   height: 72px;
   flex: 1;
   align-items: center;
   justify-content: center;
}
ea-logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 72px;
   aspect-ratio: 2.6 / 1;
}
logo-icon {
   display: flex;
} logo-icon > img {
   border-radius: 100vw;
   box-shadow: var(--appbar-logo-shadow);
   max-width: calc( 60px - 6px );
   max-height: calc( 60px - 6px );
   aspect-ratio: 1;
}
ea-logo logo-title {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
} 
logo-title > content {
   padding: 0;
   line-height: .9em;
}
logo-title > content tt {
   font-family: holic;
   font-family: Comtec;
   font-family: thunder;
   color: var(--appbar-title);
   font-size: 1.5em;
   align-items: center;
   justify-content: center;
   width: 100%;
   display: flex;
   text-shadow: var(--appbar-title-shadow);   
}
logo-title > content tt:nth-child( even ) {
   color: var(--appbar-title-divider);
}


appbar app-options {
   flex: .2;
   max-height: calc( 68px - 4px );
   max-width: calc( 68px - 4px );
}

cadastro > header {
}


tt {
   color: var(--text-color);
}

a:hover {
   color: var( --a-hover );
}

button, input[type="submit"] {
   background-color: var(--btn-bg);
   border: transparent;
} 
button a, input[type="submit"] {
   color: var(--ground);
}


form {
   background: var( --form-bg );
   border-radius: 1.5rem;
   padding-bottom: 1rem;
}

form .divider {
   display: flex;
   align-items: center;
   border-bottom: var( --card-lv3 ) 2px dashed;
}
form .divider content {
   padding: 4px 0;
   font-weight: bold;
}

whats-copy {
   display: flex;
   align-items: flex-end;
   width: 24px;
   height: 56px;
}
whats-copy > img {
   width: 24px;
   height: 24px;
   aspect-ratio: 1;
}

.multi {
   flex-direction: row !important;
   gap: 1rem;
}


/* == [ drawer ] 
== == == == == == == == == */
drawer {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9;
   background: #0005;
}
drawer[closed] > drawer-inside {
   /* transition: all 5s cubic-bezier(0.68, -0.55, 0, 1.31); */
   flex: 0.5;
   width: 0;
   opacity: .1;
}
drawer-inside {
   display: flex;
   flex-direction: column;
   height: 100dvh;
   flex: 7.5;
   opacity: 1;
   background: var( --card-lv3, #fff );
   box-shadow: #0005 0 0 5px;
}
drawer-outside {
   display: flex;
   flex: 2.5;
}
drawer[opened] {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100dvh;
}
drawer[opened] > drawer-inside {
   /* animation: openingDrawer .5s .5s ease-in; */
   /* transition: all 5s cubic-bezier(0.68, -0.55, 0, 1.31); */
}
drawer[closed] {
   display: none;
   /*animation: openingDrawer .5s .5s ease-in;*/
}


drawer-inside > header {
   display: flex;
   width: 100%;
   height: 100px;
   background: var( --card-lv1 );
}
drawer-inside > content {
   background-color: var( --bg );
   height: 100%;
}


drawer main-menu {
   gap: 1rem;
}
menu-item {  
   display: flex;
   background: var( --bg2 );
   padding: 4px;
   border-radius: 9px;
   align-items: center;
   justify-content: flex-start;
   gap: 1rem;
   color: var(--card-lv1);
}

icon {
   display: grid;
   place-items: center;
   width: 36px;
   height: 36px;
   aspect-ratio: 1;
}



@keyframes openingDrawer {
   0% {
      display: none;
      opacity: 0;
      width: 0;
   }
   10% {
      display: flex;
      opacity: .1;
      width: 0;
   }
   100% {
      opacity: 1;
      width: 100%;
   }
}

