

:root {
   --bg: #e5e5e5;
   --bg2: #f5f5f5;
   --ground: #fff;
   --card-lv1: #00559C;
   --card-lv2: #0075BD;
   --card-lv3: #009ee6;

   --appbar-shadow: #0005 0 0 10px;
   --appbar-logo-shadow: #ffab00 0 0 0 2px;
   --appbar-title: #fff;
   --appbar-title-divider: #daa520;
   --appbar-title-shadow: #0005 3px 0 3px;

   --text-color: #333;
   --a-hover: #747bff;
   --btn-bg: #27f;
   --btn-bg: var( --card-lv1 );
   --error: #f55;

   --form-bg: var( --bg2 );
   
   font: 1em "inter";
   font-weight: 400;
   color: var( --text-color );
}

::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background: var( --scrollbar-track, #d5d5d500 );
   border-radius: 5px;
}
::-webkit-scrollbar-thumb {
   background: var( --scrollbar-thumb, #1b1d2200 );
   border-radius: 5px;
}

html {
}

body {
   background: var( --bg );
   /* backdrop-filter: blur( 13px ); */
   background-color: #fff9;
   background-blend-mode: overlay;
   background-image: radial-gradient(
      circle at center, 
      #fff 80%, #27f5 
   );
   background-image: url( ../imgs/bgs/2c79b93ca8dbe8e7c3ec4d7152eb0d31.jpg );
}

appbar {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0;
   padding: 0;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 9;
   box-shadow: #0005 0 0px 6px 2px !important;
}
app-bar,
appbar {
   background: var( --card-lv1 );
   box-shadow: var(--appbar-shadow);
   height: 72px;
}

app-bar > content,
appbar > content {
   flex-direction: row;
   align-items: center;
   height: 100%;
   padding: 0 16px;
}

appbar-menu-left,
appbar-menu-right {
   display: flex;
   height: clamp( 20px, 35%, 48px );
   aspect-ratio: 1;
}
content:has( > trigram ) {
   padding: 2px;
   width: 100%;
   height: 100%;
   /* aspect-ratio: 1; */
}
trigram {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   aspect-ratio: 1.2 / 1;
   cursor: pointer;
}
trigram > bar {
   display: flex;
   width: 100%;
   aspect-ratio: 7 / 1;
   border-radius: 9px;
   background: #fff;
}

content:has( > back-btn ) {
   padding: 2px;
   width: 100%;
   height: 100%;
}
back-btn {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   aspect-ratio: 1.2 / 1;
   cursor: pointer;
}
back-btn > bar {
   display: flex;
   width: 100%;
   aspect-ratio: 7 / 1;
   border-radius: 9px;
   background: #fff;
}
back-btn > bar#backBtn_topBar {
   transform: rotate(-45deg);
   transform: rotate(-45deg) translate(-5px, 2px);
   width: 70%;
   aspect-ratio: 7 / 1.3;
}
bar#backBtn_centerBar {
   background: transparent;
}
back-btn > bar#backBtn_bottomBar {
   transform: rotate(45deg) translate(-5px, -2px);
   width: 70%;
   aspect-ratio: 7 / 1.3;
} 

fab {
   display: grid;
   place-items: center;
   /* justify-content: center; */
   border: transparent;
   border-radius: 100%;
   background: var( --card-lv1 );
   width: 66px;
   height: 66px;
   aspect-ratio: 1;
   position: fixed;
   top: 90vh;
   /*bottom: 6%;*/
   right: 1em;
   filter: drop-shadow( 2px 4px 6px #0005 );
   cursor: pointer;
   z-index: 10;
}

fab > content {
   color: var( --appbar-title, #fff );
   width: calc( 100% - 2em );
   height: calc( 100% - 2em );
   padding: 0;
   align-items: center;
   justify-content: center;
}
fab > content > * {
   font-size: 2.5em;
   font-weight: bold;
}
fab a {
   color: var( --appbar-title );
   text-decoration: transparent;
}

appbar-logo {
   display: flex;
   height: 72px;
   flex: 1;
   align-items: center;
   justify-content: center;
}

app-logo {
   display: flex;
   height: 72px;
   flex: 1;
   align-items: center;
   justify-content: center;
}
ea-logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 72px;
   aspect-ratio: 2.6 / 1;
}
logo-icon {
   display: flex;
} logo-icon > img {
   border-radius: 100vw;
   box-shadow: var(--appbar-logo-shadow);
   max-width: calc( 60px - 6px );
   max-height: calc( 60px - 6px );
   aspect-ratio: 1;
}
ea-logo logo-title {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
} 
logo-title > content {
   padding: 0;
   line-height: .9em;
}
logo-title > content tt {
   font-family: holic;
   font-family: Comtec;
   font-family: thunder;
   color: var(--appbar-title);
   font-size: 1.5em;
   align-items: center;
   justify-content: center;
   width: 100%;
   display: flex;
   text-shadow: var(--appbar-title-shadow);   
}
logo-title > content tt:nth-child( even ) {
   color: var(--appbar-title-divider);
}


appbar app-options {
   flex: .2;
   max-height: calc( 68px - 4px );
   max-width: calc( 68px - 4px );
}

cadastro > header {
}


tt {
   color: var(--text-color);
}

a:hover {
   color: var( --a-hover );
}

button, input[type="submit"] {
   background-color: var(--btn-bg);
   border: transparent;
} 
button a, input[type="submit"] {
   color: var(--ground);
}


form {
   background: var( --form-bg );
   border-radius: 1.5rem;
   padding-bottom: 1rem;
}

form .divider {
   display: flex;
   align-items: center;
   border-bottom: var( --card-lv3 ) 2px dashed;
}
form .divider content {
   padding: 4px 0;
   font-weight: bold;
}

whats-copy {
   display: flex;
   align-items: flex-end;
   width: 24px;
   height: 56px;
}
whats-copy > img {
   width: 24px;
   height: 24px;
   aspect-ratio: 1;
}

.multi {
   flex-direction: row !important;
   gap: 1rem;
}





/* == [ drawer ] 
== == == == == == == == == */
drawer {
   display: none;
   flex-direction: row;
   width: 100%;
   height: 100dvh;
   position: fixed;
   /* position: sticky; */
   top: 0;
   left: 0;
   z-index: 9;
   background: #0005;
}
drawer-inside::-webkit-scrollbar {
   width: 0px;
}
drawer-inside::-webkit-scrollbar-track {
   background: #f5f5f5;
   border-radius: 5px;
}
drawer-inside::-webkit-scrollbar-thumb {
   background: #f5f5f5;
   border-radius: 5px;
}
drawer[opened] { display: flex; }
drawer[closed] { display: none; }
drawer-inside {
   display: flex;
   flex-direction: column;
   height: 100dvh;
   overflow-y: scroll;
   background: var( --card-lv5, #fff );
   background-image: url( ../../Assets/imgs/bgs/2c7.jpg );
   box-shadow: #0005 0 0 5px;
}
drawer[opened] > drawer-inside {
   width: clamp( 100px, 95%, 350px );
}
drawer[closed] > drawer-inside {
   /* transition: all 5s cubic-bezier(0.68, -0.55, 0, 1.31); */
   width: 0;
}
drawer-outside {
   display: flex;
   flex: 2.5;
}


drawer-inside > header {
   display: flex;
   width: 100%;
   background: var( --drawer-header, #21232910 );
   background: var( --drawer-header, #225 );
   background-image: url( ../../Assets/imgs/bgs/8fb-h.jpg );
   background-image: url( ../../Assets/imgs/bgs/8fb2-h.jpeg );
   background-size: cover;
   backdrop-filter: blur( 13px );
   aspect-ratio: 16 / 9;
}
drawer-inside > content {
   background-color: var( --bg2 );
   background-color: var( --drawer-inside, #e5e5e500 );
}


drawer main-menu {
   gap: .8em;
}
drawer menu-item {  
   display: flex;
   background: var( --drawer-item, #fff1 );
   backdrop-filter: blur( 13px );
   filter: drop-shadow( #0005 5px 6px 10px );
   box-shadow: #0003 0 5px 10px;
   padding: 1em;
   border-radius: 9px;
   align-items: center;
   justify-content: flex-start;
   gap: 1rem;
   font-size: .9em;
}
drawer menu-item a {
   text-decoration: none;
   color: var( --menu-item-link, #555 );
}

drawer icon {
   display: grid;
   place-items: center;
   width: 36px;
   height: 36px;
   aspect-ratio: 1;
}

user-profile {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   width: 100%;
   height: 100%;
   aspect-ratio: 16 / 9;
}
user-profile > user-pic > picture {
   display: flex;
   width: 60px;
   height: 60px;
   aspect-ratio: 1;
}
user-profile > user-pic > picture > img {
   width: 100%;
   height: 100%;
   aspect-ratio: 1;
   border-radius: 100vw;
   box-shadow: var(--appbar-logo-shadow);
}

user-info {
   display: flex;
   flex-direction: column;
   gap: .2em;
   background-image: linear-gradient(
      to bottom, transparent, #0009, #0009
   );
}
user-name {
   display: flex;
   color: var( --user-name, #fff );
   font-weight: bold;
}   
user-phone {
   display: flex;
   font-size: .9em;
   color: var( --user-phone, #fc0 );
}   

drawer > drawer-inside > footer {
   display: flex;
   align-items: center;
   justify-content: center;
   background: var( --bg );
   font-size: .9em;
}

@keyframes openingDrawer {
   0% {
      display: none;
      opacity: 0;
      width: 0;
   }
   10% {
      display: flex;
      opacity: .1;
      width: 0;
   }
   100% {
      opacity: 1;
      width: 100%;
   }
}




/* == [ console ]
== == == == == == == == == */
console {
   /* background: var( --bg2 ); */
}


/* == [ customer ]
== == == == == == == == == */
customers {
   gap: 1em;
}
customer {
   display: flex;
   align-items: center;
   background-color: var( --customer, #fff );
   filter: drop-shadow( var( --customer-shadow, #0003 ) 3px 8px 18px );
   border: transparent;
   border-radius: 1.25em;
}
customer > content {  
   flex-direction: row;
   justify-content: center;
}
customer > content > content {
   flex: .65;
   justify-content: center;
   gap: 1em;
}
customer > content > header {
   display: flex;
   flex: .35;
   min-width: 100px;
   max-width: 120px;
}
customer > content > header > picture {
   width: 100%;
   border-radius: 100%;
   aspect-ratio: 1;
   display: flex;
}
customer picture > img {
   border-radius: 100%;
   width: 100%;
   aspect-ratio: 1;
}

customer name {
   font-size: 1em;
   font-weight: bold;
}
customer phone {
   font-size: 0.9em;
}